$fontweight1: 33pt;
$fontweight2: 20pt;
$fontweight3: 13pt;
$fontweight4: 12pt;

$primarycolor: #009ee3;
$yellow: #fffcdb;
$lightblue: #cdedfb;
$darkblue: #03b7f1;
$green: #45b348;
$lightgreen: #ddecd7;
$white: white;
$red: #f8dfd4;

$distance: 1.5em;
$distancesmall: 0.8em;
$distance05: 0.5em;
$borderradius: 0.4em;